@import "styles/variables.scss";

.title {
  font-family: $avant-garde;
  font-weight: 500;
  font-style: normal;
  color: $black;
  font-size: 48px;
  line-height: 57px;


  span {
    color: $slate;
  }
}