@import "styles/variables.scss";

.title {
  font-family: $avant-garde;
  font-weight: 500;
  font-style: normal;
  color: $black;
  font-size: clamp(36px, 4vw, 48px);
  line-height: 1.2;


  span {
    color: $slate;
  }
}