@import 'styles/variables.scss';
@import 'styles/layout.scss';


.testimonials_section__title {
  @include container;
}

.testimonials_slider {
  max-width: 1498px;
  width:100%;
  padding:15px 0;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:180px;
  margin-top:64px;
}

.testimonial_card {
  text-align: center;
  // width: 536px;
  height: 748px;
  background: $lightgray;
  box-shadow: 0px 0px 20px hsla(211, 40%, 16%, 0.202);
  border-radius: 10px;
  color: $slate;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    transform: scale(0.85);
    transition: all 0.6s ease;
}

.testimonial_card__active {
  background: $navy;
  color: white;
  transform: scale(1);

  .testimonial_card__quote {
  color: white;

  &:before {
    color: $slate;
  }
  
  &:after  {
    color: $slate;
  }
  
  }

  .testimonial_card__name {
    color:white;
  }
  
  .testimonial_card__job {
    color:white;
  }
      
}

.testimonial_card__quote {
  font-size: clamp(20px, 2vw, 30px);
  line-height: 1.5;
  font-style:italic;
  font-weight: 300;
  font-family: $open-sans;
  max-width: 415px;
  margin-bottom:54px;
  margin-top: 20px;
  position: relative;
  z-index:1;

  @media (max-width:999px) {
    font-size: 24px;
  }

  &:before {
    content: "“";
    text-align: center;
    font-size: 214px;
    font-weight: 500;
    font-family: "itc-avant-garde-gothic-pro", sans-serif;
    letter-spacing: 0px;
    color: $midgray;
    opacity: 1;
    position: absolute;
    top: 48px;
    left: -9px;
    z-index:-1;
  }

  &:after {
    content: "”";
    text-align: center;
    font-size: 214px;
    font-weight: 500;
    font-family: "itc-avant-garde-gothic-pro", sans-serif;
    letter-spacing: 0px;
    color: $midgray;
    opacity: 1;
    position: absolute;
    bottom: -96px;
    right: 52px;
    z-index:-1;
  }

}

.testimonial_card__name {
  font-size: 30px;
  color:$slate;
  font-weight:600;
  font-size: $default-font-size;

}

.testimonial_card__job {
  font-size: $default-font-size;
  color:$slate;

}

.testimonial_card__image {
  font-size: 30px;
}