@import "styles/variables.scss";
@import "styles/layout.scss";

.footer {
  background: $lightgray; 
}

.footer__inner {
  @include container-xl;
  flex-wrap:wrap;
}

.footer__main {
  width:50%;
  margin-top:128px;
  margin-bottom:128px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  @media (max-width:999px) {
    width:40%;
  }

  @media (max-width:839px) {
    width:100%;  
    margin-top:96px;
    margin-bottom:64px;
  }


}

.footer__menus {
  width:50%;
  display:flex;
  margin-top:128px;
  margin-bottom:128px;

  @media (max-width:839px) {
    width:100%;  
    margin-top:64px;
    margin-bottom:64px;
    flex-wrap:wrap;
  }
}
.footer__menus__menu {
  width:33%;

  @media (max-width:567px) {
    width:50%;  
    margin-bottom: 64px;
  }

  h3 {
    font-size: $default-font-size; 
    font-family: $avant-garde;
    font-weight:500;
    letter-spacing: 2.1px;
    color: $black;
    text-transform: uppercase;
    margin-bottom: 24px;
  }

  ul {
    list-style:none;

    li {
      font-size:$default-font-size;
      font-family: $open-sans;
      color: $slate;
      line-height: 2.7;
      font-weight:600;

      a {
        position:relative;
      }

      a:after {
        content:'›';
        color: white;
        background-size: contain;
        width:24px;
        height:24px;
        background-color: $slate;
        border-radius:50%;
        position:absolute;
        right:-20px;
        top:3px;
        line-height:1;
        display:flex;
        justify-content:center;
        font-weight:300;
        opacity:0;
        transition: all 0.3s ease;
      }

      a:hover:after {
        display:flex;
        opacity:1;
        right: -40px;
      }

    }
  }

  .footer__contact {
    margin-bottom:20px;

    h4 {
      font-size:$default-font-size;
      font-family: $open-sans;
      color: $slate;
      line-height: 2.7;
      font-weight:600;
      margin-bottom:-12px;
    }
    a {
      font-size:$default-font-size; 
      font-weight: 300;
      color: $slate;
    }
  }
}

.footer__bottom {
  width:100%;
  display: flex; 
  justify-content:space-between;
  margin-bottom:32px;

  @media (max-width:689px) {
    flex-direction:column;
    align-items: center;
  }
  
  p {
    color: $gray;
    font-weight:600;

    @media (max-width:689px) {
      margin-bottom: 32px; 
      text-align:center;
      max-width:260px;
    }
  }

  .footer__socials {
    list-style:none;
    display:flex;
    gap: 20px;

    .footer__social_link {
      fill: $gray;
      transition: all 0.6s ease;

      &:hover {
        fill: $pink;
      }

    }
  }
}