@import 'styles/variables.scss';
@import 'styles/layout.scss';

.services {
  background: $lightgray;
  padding: 180px 0;

  .services__inner {
    @include container;
  }
}

.services__content {
  width:50%;

  p {
    margin-top: 56px;
    margin-bottom:64px;
    max-width:434px;

  }
}

.services__links {
  width:50%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-row: auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding-left: 50px;
}

.services__list {

  h3 {
    font-size: 21px; 
    font-family: $avant-garde;
    font-weight:500;
    letter-spacing: 2.1px;
    color: $black;
    text-transform: uppercase;
    margin-bottom: 24px;
  }

  ul {
    list-style:none;
    margin-bottom:32px;

    li {
      font-size:21px;
      font-family: $open-sans;
      color: $slate;
      line-height: 58px;
      font-weight:600;
    }
  }
}