@import 'styles/layout.scss';
@import 'styles/variables.scss';

.projects__wrapper {
  @include container;
  margin-top: 110px;
  margin-bottom:110px;
}

.projects {
  width:100%;
}

.project__gallery {

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  margin-top:65px;

  @media (max-width: 649px) {
    display:flex;
    flex-direction:column;

  }
}
  
  .project__card {
    position:relative;
    border-radius: 5px;
    height: 420px;
    overflow: hidden;
     grid-area: 1 / 1 / 2 / 2; 
      &:nth-of-type(2) { grid-area: 1 / 2 / 2 / 3; }
      &:nth-of-type(3) { grid-area: 1 / 3 / 2 / 4; }
      &:nth-of-type(4) { grid-area: 2 / 1 / 3 / 3; }
      &:nth-of-type(5) { grid-area: 2 / 3 / 3 / 4; }

      @media (max-width: 649px) {
        width:100%;
      }

  }

  .project__gallery {
    opacity:1;
    visibility:visible;
    transition: opacity 0.5s ease, visibility 0s linear 0.5s; /* CSS transition for the fade-in effect */
  }

  .project__gallery.fadeIn {
    opacity: 0;
    visibility: hidden;
  }

.project__card__overlay {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom: 0;
  padding-left:36px;
  padding-right:55px;
  padding-bottom: 40px;
  background: transparent linear-gradient(180deg, #19293A1A 0%, #19293A 100%) 0% 0% no-repeat padding-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  opacity:0;
  transition: all 0.6s ease;
}


  .project__card__overlay:hover {
    opacity:1;
  }


.project__title {
  color: white;
  font-size: 24px;
  font-weight:500; 
  font-family: $avant-garde;
  margin-bottom:16px;
}

.project__image {
    object-fit:cover;
    min-height:100%;
    min-width:100%;

}

.project__description {
  color: white;
  font-size: 18px;
  line-height: 27px;
  margin-bottom:16px;
}

.project__link {
  color: white;
  display:inline-block;
  border-bottom: 2px solid white;
  padding-bottom:2px;
  font-size:20px;
  font-weight: 600;
  transition: all 0.6s ease;

  &:hover {
    border-bottom:2px solid $pink;
  }
}

.tag__buttons {
  margin-top:40px;
}

.tag__button {
  width:clamp(150px, 25%, 190px);
  background: transparent;
  border: transparent;
  border-bottom: 1px solid $black;
  padding-bottom: 16px;
  padding-top:16px;
  position:relative;
  font-family: $open-sans;
  font-size:  clamp(14px, 2vw, 20px);

  @media (max-width: 649px) {
    width:50%;
  }

  &.active {
    font-weight:600;
  }

}

.tag__button.active:after {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 100%;
  height: 0px;
  border-bottom: 4px solid $pink;
  left: 0;
}
