@import url("https://use.typekit.net/keb6yyv.css");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,600&display=swap');
@import 'styles/variables';

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;


  --pink: rgba(192, 52, 94, 1);
  --navy: rgba(25, 41, 58, 1);
  --slate: rgba(197, 201, 205, 1);

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: $open-sans;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  font-size: $default-font-size;
  line-height:$default-line-height;
  color: $slate;
}

.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after {
  background-color: white!important;
}

.menu__nav.is-active {
  transform: translateX(0);

}

.slick-slider {

  .slick-dots li, .slick-dots li button {
    width: 36px;
    height:36px;
    display:flex;
    justify-content:center;
    justify-items:center;
  }

.slick-dots li button:before {
  font-size: 24px;
  width:24px;
  color: $lightgray;
  opacity:1;
  position:relative;
}

.slick-dots li.slick-active button:before {
  font-size:36px;
  width:36px;
  color: $navy;
  opacity:1;

}

.slick-dots {
  display: flex!important;
  margin: auto;
  position: relative;
  width: auto;
  justify-content: center;
  gap:30px;
  bottom:-55px;
}

}

