// Colours
$pink: #C0345E;
$slate: #506473;
$lightgray: #EDEFF1;
$gray: #50647380;
$black: #19293A;

//Fonts
$avant-garde: "itc-avant-garde-gothic-pro", sans-serif;
$open-sans: 'Open Sans', sans-serif;
